<section id="FAQTags" class="BlueBG_sec">
    <div class="container" data-scroll-reveal="enter bottom over 1s and move 100px">
        <div class="TextCenter">
            <h2 class="Title_section">Frequently <span class="thin_text">Asked Questions:</span></h2>
        </div>
        <ul class="accordion_list">
            <li>
                <h4>Who can register on this web site?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>Anyone who has genuine desire to purchase any Product / Service can register.</p>
                    </div>
                </div>
            </li>
            <li>
                <h4>What is the validity of Registration?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            Registration is valid till six months from the date of registration or till the date of expected
                            purchase, whichever is earlier.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>Can registration be done for more than one Product / Service / Make?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            Yes. Same person can register for more than one Product / Service. But the User Name and Passwords
                            will be different for registration of different Product / Service.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>What if I forget my Password.</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            On the home page, enter your login ID (email address) and click on “forgot password”. Your Password will
                            be sent to your email address.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>Which Products and Services are offered on this portal?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            The list of Products and Services is made available on the registration form.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>If a particular Product / Service / Make is not available, how can I register for that?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            In such case, registration is not possible. A request can be sent to add that Product / Service / Make,
                            through “Contact Us” option. Depending upon the viability, the Product / Service may be (/may not) be added.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>How will I come to know about the details of all other prospective buyers?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            After registration, a Password will be sent to your email address. You have to login using your User
                            Name and Password. Then you will be given an option to view details of prospective buyers who are
                            registered for same Product / Service. The displayed list can also be downloaded.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>How all the prospective buyers for a particular product in a particular city will contact each other?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            The web site will provide contact details to all the prospective buyers of a particular product in a
                            city. The prospective buyers will have to contact each other themselves.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>Once a registration is made, can I change the expected date of purchase?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            No. That is not possible. You have to cancel the existing registration and register afresh with
                            new expected date of purchase.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>If I desire, can I cancel my registration before the validity of registration?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            Yes. After logging in, you will be given an option to cancel the registration
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>What is the registration fee?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            As of now, there is no fee for registration.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>If I have some suggestion(s) for the website, how can I communicate?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            You can email your suggestion(s) and other communication, if any, to: info@c2cunion.com
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>Can I register for a Product, etc. to be purchased in a city other then the city where I am residing?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            Yes. For example, if you’re a resident of New Delhi. You can register for New Delhi, Mumbai, London,
                            New York, etc. Anybody can register from any city for any city.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>How can I register?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            Click Sign up for new registration on Home Page. You will be taken to Registration Form. After filling
                            up all the fields, read carefully the Terms and Conditions. If you agree, then submit the form. A
                            message will be sent to your email account about the details of registration.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h4>How to use registration details?</h4>
                <div class="accordion_inner">
                    <div class="accordionText">
                        <p>
                            Fill in the details on Home Page. You will be shown another window, which is Menu driven. You can
                            check / download the contact details of all the persons who have also registered for same Product /
                            Service from the same city.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </section>