<ngx-alerts></ngx-alerts><!-- to display alert dialog  -->

<section id="HomeTags" class="LightGray_sec">
  <div class="container">
      
   
           
      <div class="row">
          <div class="col-sm-8 col-sm-offset-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                        <h3 class="panel-title">User Login</h3>
                </div>
                <div class="panel-body">
                       
                        <app-login></app-login>
                </div>    
            </div>
          </div>              
      </div>
  </div>
</section>