<section id="HowWorksTags">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" data-scroll-reveal="enter left over 1s and move 100px">
                <img class="Col6_img" src="assets/images/how-it-works-img.jpg" alt="" />
            </div>
            <div class="col-sm-6" data-scroll-reveal="enter right over 1s and move 100px">
                <h2 class="Title_section">How <span class="thin_text">it works:</span></h2>
                <p>
                    Suppose you want to buy a Car. For doing this, you generally zero in on a particular make (and model). Then you
                    contact couple of dealers and get best price.
                </p>
                <p>
                    If you come to know that some of your friends, neighbor, relatives, etc. also want to buy same make of car in near
                    future. Now if you combine the number of cars (may be of different models, colors, etc.) required by all these guys,
                    the total requirement may be 20 or 30 or may be more. If you contact the dealer now for this bulk demand, you will
                    surely get more discounts, and everybody will be benefitted.
                </p>
                <p>
                    But the question is : how you will come to know about other prospective buyers of similar products in your
                    city as of yours, during similar time frame
                </p>
                <p>
                    www.c2cunion.com is a portal which allows all prospective buyers to register for a product in a city &
                    then share the contact details of other registered users and make a group for negotiating with dealer / manufacturer.
                </p>
                <p>
                    In above example, you can also consider other Products / Service, for example: TV, Steel, Tyres, Footwear,
                    Chocolates, Mobile Phone, Paint, etc.
                </p>
            </div>
        </div>
    </div>
    </section>