 
    <h2>Password Recovery</h2>
    <form name="resetPasswordForm" #passwordForm="ngForm">
<div class="LoginForm_list">
<ul>
    <li>
        <div class="FieldBox">
            <input type="text" class="login-Field" id="login.email" name="login.email" 
           [(ngModel)]="login.email" #emailOrPhone="ngModel" placeholder="Email address or mobileNo"  required><span class="asterisk_input"></span>
           <span *ngIf="emailOrPhone.invalid && emailOrPhone.touched" class="text text-danger">Enter your email or phone.</span> 
            
        </div>
    </li>

   
   
    <li>
        <div class="FieldBox textRight">
            <input id="reset" name="rset" type="button" value="Recover Password" 
            class="btn yellowbg black-text" (click)="resetPassword()">
           
        </div>
        
        
    </li>
</ul>
</div>
</form>

