<section id="HomeTags" class="LightGray_sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" data-scroll-reveal="enter left over 1s and move 100px">
                <h2 class="Title_section">Introduction</h2>
                <p>
                    This website is a platform which gives information about people who are willing to buy similar product / service in a
                    particular city / region. The information is given about those who are registered with this platform and are willing to
                    share their details.
                </p>
                <p>
                    This information is used by prospective buyers to contact each other and jointly look for seller / dealer who can
                    give the best deal for their cumulative demand.
                </p>
                <p>
                    This information is also useful for prospective sellers of product / service, since they can get demand in bulk
                    for their product / services. For bulk demand, they will not mind giving further discount.
                </p>
                <p>Thus this platform creates a win - win situation for both, the buyer and the seller. </p>
                <p>Please register to get benefited. <a href="#"  routerLink="../login"  class="CommanBtn">Sign up for New Registration</a></p>
            </div>
            <div class="col-sm-6" data-scroll-reveal="enter right over 1s and move 100px">
                <img class="Col6_img" src="assets/images/introduction-img.jpg" alt="" />
            </div>
        </div>
    </div>
    </section>